@media all and (max-width: 1199px){
	.bread-crumb a:before{
		left: -60px;
		
	}
	.bread-crumb a:after{
		right: -60px;
	}
}
@media all and (max-width: 991px){
	
	.navbar-brand {
		width: 95%;
	}
	.others-crumb {
		margin: 122px 0;
	}
	.top-header{
		width: 100%;
	}
	#navbar-collapse-1 {
		margin-top: 125px;
	}
	.navbar .navbar-collapse .nav li a {
		padding: 9px 15px;
	}
	.bread-crumb a {
		margin-top: 80px;
	}
	.bread-crumb a:before{
		left: -114px;
		transform: scale(.8);
		
	}
	.bread-crumb a:after{
		right: -114px;
		transform: scale(.8);
	}
	
    .navbar .navbar-header {
        float: none;
        padding: 0;
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
    }
    .navbar .navbar-header .navbar-toggle {
        margin: 20px 15px;
        display: block;
        border: 0;
    }
    .navbar .navbar-header .navbar-toggle:hover .icon-bar:nth-child(1) {
        -webkit-transform: translateY(-2px);
        transform: translateY(-2px);
    }
   .navbar .navbar-header .navbar-toggle:hover .icon-bar:nth-child(3) {
        -webkit-transform: translateY(2px);
        transform: translateY(2px);
    }
	.navbar .navbar-header .navbar-toggle:hover,
    .navbar .navbar-header .navbar-toggle:focus {
        background: transparent;
    }
    .navbar .navbar-header .navbar-toggle:hover:before,
    .navbar .navbar-header .navbar-toggle:focus:before {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    .navbar .navbar-header .navbar-toggle.in .icon-bar {
        -webkit-transition: -webkit-transform 150ms linear;
        transition: -webkit-transform 150ms linear;
        transition: transform 150ms linear;
        transition: transform 150ms linear, -webkit-transform 150ms linear;
    }
    .navbar .navbar-header .navbar-toggle.in .icon-bar:nth-child(1) {
        -webkit-transform: translateY(6px);
        transform: translateY(6px);
    }
    .navbar .navbar-header .navbar-toggle.in .icon-bar:nth-child(1) .inner {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    .navbar .navbar-header .navbar-toggle.in .icon-bar:nth-child(2) {
        opacity: 0;
    }
    .navbar .navbar-header .navbar-toggle.in .icon-bar:nth-child(3) {
        -webkit-transform: translateY(-6px);
        transform: translateY(-6px);
    }
    .navbar .navbar-header .navbar-toggle.in .icon-bar:nth-child(3) .inner {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
    .navbar .navbar-header .navbar-toggle .icon-bar {
        width: 25px;
        margin-bottom: 4px;
        background: transparent;
        -webkit-transition: -webkit-transform 150ms linear 150ms;
        transition: -webkit-transform 150ms linear 150ms;
        transition: transform 150ms linear 150ms;
        transition: transform 150ms linear 150ms, -webkit-transform 150ms linear 150ms;
    }
    .navbar .navbar-header .navbar-toggle .icon-bar .inner {
        display: block;
        -webkit-transition: background-color 150ms linear, opacity 0s linear 150ms, -webkit-transform 150ms linear;
        transition: background-color 150ms linear, opacity 0s linear 150ms, -webkit-transform 150ms linear;
        transition: transform 150ms linear, background-color 150ms linear, opacity 0s linear 150ms;
        transition: transform 150ms linear, background-color 150ms linear, opacity 0s linear 150ms, -webkit-transform 150ms linear;
        width: 100%;
        height: 2px;
        background-color: #000;
    }
    .navbar .navbar-header .navbar-brand {
        padding: 0;
    }
    .navbar .navbar-collapse {
        margin: 0 -15px 0;
        -webkit-box-shadow: none;
        box-shadow: none;
        border-top: 1px solid ##fff !important;
    }
    .navbar .navbar-collapse.collapse {
        display: none !important;
		
    }
	.navbar .navbar-collapse.collapse.collapsing {
        overflow: hidden !important;
    }
    .navbar .navbar-collapse.collapse.in {
		display: block !important;
		
	}
    
    .navbar .navbar-collapse .nav {
        float: none !important;
        margin: 15px 0;
    }
    .navbar .navbar-collapse .nav li {
        float: none;
        display: block;
    }
    .navbar .navbar-collapse .nav li a {
        width: 100%;
        padding: 0 15px;
        text-align: center;
    }
    .navbar .navbar-collapse .nav li a:after {
        content: inherit;
        display: none;
    }
	
	
}


@media all and (max-width: 693px){
	.bread-crumb a:before {
		content: '';
	}.bread-crumb a:after {
		content: '';
	}
}